:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(60, 64, 72);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	width: 100%;
	height: 100dvh;
}

.frog-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-inline: 24px;
}

canvas.frog {
	width: 64px;
	height: 64px;
}

#toolbar {
	left: 0;
	padding: 10px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}
